<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.systemticks.de/c4/C4Dsl"
			class = "de.systemticks.c4.c4Dsl.C4DslPackage"
			genModel = "model/generated/C4Dsl.genmodel" />
	</extension>
</plugin>
